<form name="container-form" method="post" action="/courses/handle-form-action"class="container mt-4">
    <h3>Danh sach Khoa hoc</h3>
    <a href="/me/trash/courses" >Thung rac {{countDocumentsDeleted}}</a>

    <div class="form-checkbox-all">
      <input type="checkbox" class="checkbox-all-input" id="checkbox-all-course">
      <label for="checkbox-all-course" class="checkbox-all-label">Chon tat ca</label>
    </div>

    <select name="action" class="checkbox-select-all-opt">
        <option value="">-- Hanh Dong --</option>
        <option value="delete">-- Xoa --</option>
    </select>
    <button class="checkbox-all-submit btn btn-primary" disabled>Thuc hien</button>

    <table class="table">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">STT</th>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">VideoId</th>
                <th scope="col">Slug</th>
            </tr>
        </thead>
        <tbody>
            {{#each course}}
            <tr>
                <td>
                  <div class="form-checkbox-all">
                    <input type="checkbox" class="checkbox-course-input" name="checkboxCourseId" value="{{this._id}}">
                  </div>
                </td>

                <th scope="row">{{sum @index 1}}</th>
                <td>{{this.name}}</td>
                <td>{{this.description}}</td>
                <td>{{this.videoId}}</td>
                <td>{{this.slug}}</td>
                <td><a type="button" class="btn btn-primary" href="/courses/{{this._id}}/edit">Sua</a></td>
                <td><a type="button" class="btn btn-primary" href="#" data-id="{{this._id}}" data-toggle="modal" data-target="#delete-course-modal">Xoa</a></td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</form>

{{!- form delete course}}

<form method="post" name="form-delete-course"></form>


{{!- confirm delete course --}}

<div id="delete-course-modal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Xoa khoa hoc</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>ban chac chan muon xoa khoa hoc nay</p>
      </div>
      <div class="modal-footer">
        <button type="button" id="btn-delete-course" class="btn btn-primary">Xoa</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Huy</button>
      </div>
    </div>
  </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var formDeleteCourse = document.forms['form-delete-course'];
        var courseId;
        var btnDeleteCourse = document.getElementById('btn-delete-course');
        var checkboxAllCourse = $('#checkbox-all-course');
        var checkboxCourse = $('input[name="checkboxCourseId"]');
        var btnCheckAllCourse = $('.checkbox-all-submit');
        var containerForm = $('form[name="container-form"]');

        // When dialog confirm clicked
        $('#delete-course-modal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget); 
            courseId = button.data('id');
        })

        // When delete course btn clicked
        btnDeleteCourse.onclick = function(){
            formDeleteCourse.action = '/courses/' + courseId + '?_method=DELETE';
            formDeleteCourse.submit();
        }

        // When checkboxAllCourse change
        checkboxAllCourse.change(function(){
          var isCheckedAll = $(this).prop('checked');
          checkboxCourse.prop('checked', isCheckedAll);
          renderSubmitCheckAll();
        })

        // When checkboxCourse change
        checkboxCourse.change(function(){
          var isCheckedAll = checkboxCourse.length === $('input[name="checkboxCourseId"]:checked').length;
          checkboxAllCourse.prop('checked', isCheckedAll);
          renderSubmitCheckAll();
        })

        // render button submit 'thuc hien'
        function renderSubmitCheckAll () {
          var isCheckedCourse = $('input[name="checkboxCourseId"]:checked').length;
          if(isCheckedCourse){
            btnCheckAllCourse.attr('disabled', false);
          } else {
            btnCheckAllCourse.attr('disabled', true);
          }
        }

        // when btnCheckAllCourse is clicked,
        containerForm.on("submit" ,function(e){
          var isSubmitted = !$(btnCheckAllCourse).hasClass('disabled');
          if(!isSubmitted){
            e.preventDefault();
          }
        })
    })
</script>